# dependencies
node_modules

# output
dist/
build/

# code coverage
coverage
*.lcov

# logs
logs/
*.log
npm-debug.log*
bun-debug.log*
bun-error.log*

# environment variable files
.env

# caches
.eslintcache
.cache
*.tsbuildinfo

# PM2
pids/
logs/
pm2.json

# vscode
.vscode

# Finder (MacOS)
.DS_Store

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Project
private/